@import "variables";
// header
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 40px;
@media (max-width: $md3+px) {
  min-height: 5px;
}
&._scroll{
  .header__wrapper{
    background:#f9f1e7;
  }
}
  // header_wrapper
  &__wrapper {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
  }

  // header__container
  &__container {
  }

  // header__body
  &__body {
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
    position: relative;
    @media (min-width: $md2+px) {
      min-height: 80px;
    }
    @media (max-width: $md3+px) {
      min-height: 80px;
    }
  }

  // header__main
  &__main {
    display: flex;
    align-items: center;
    flex: 0 0 494/1240 * 100%;
    @media (max-width: $md2+px) {
      flex: 1 1 auto;
    }
  }

  // header__logo
  &__logo {
    color: #000;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 24px;
    line-height: 29/24 * 100%;
    position: relative;
    z-index: 5;
  }

  //header__menu
  &__menu {
  }

  // header__search
  &__search {
    @media (min-width: $md2+px) {
      flex: 1 1 auto;
    }
  }

  // header__actions
  &__actions {
  }
}

// menu
.menu {
  flex: 0 1 420px;

  // menu__body
  // изначально скрыт, но при клике на бургер иконку будеь показываться
  &__body {
    @media (max-width: $md3+px  /*768px*/) {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: -120%;
      background-color: #fff;
      transition: left 0.3s ease 0s;
      padding: 120px 15px 30px 15px;
     
 // подложка под меню для мобильного разрешения что бы не было накладки логотипаа на элементы меню
      &::before{
        content: "";
        position: fixed;
        width: 100%;
        height: 80px;
        top: 0;
        left: -120%;
        transition: left 0.3s ease 0s;
        background-color: #fcf8f3;
        z-index: 2;
      }
      &._active {
        left:0;
        &::before{
          left: 0;
        }
      }
    }
   
    
  }

  // menu__list
  &__list {
    @media (min-width: $md3+px  /*768px*/) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  // menu__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 3px;
    padding: 5px 0px;
    position: relative;
    // стили внутри этого медиазапроса будут работать на устройствах где есть мышка, на тач скринах этот код работать не будет Стили прописываю в родителе но для чайлдов (menu__sub-list)
    // Я хочу что бы на ПК вложенное меню открывалось при наведении мыши на стрелку, но на мобильных утройствах - при клике на стрелку (для этого я добавила дополнительную кнопку в разметке
    @media (any-hover: hover) {
      &:hover {
        .menu__sub-list {
          transform: translate(0px 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        .menu__arrow {
          transform: rotate(-180deg);
        }
        .menu__arrow,
        .menu__link {
          color: $orangeColor;
        }
      }
    }
    // для тачскринов но ширина выше 768px, те которые меньше = код для них в js
    @media (min-width: $md3+px) {
      &._hover {
        .menu__sub-list {
          transform: translate(0px 0px);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
        .menu__arrow {
          transform: rotate(-180deg);
        }
        .menu__arrow,
        .menu__link {
          color: $orangeColor;
        }
      }
    }
    @media (max-width: $md3+px) {
      // background-color: red;
  
      margin: 0px 10px 15px 0px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // menu__link
  &__link {
    font-weight: 500;
    color: inherit;
    transition: color 0.3s ease 0s;
    @media (max-width: $md3+px) {
      font-size: 24px;
      font-weight: 600;
    }
  }

  // menu__arrow
  &__arrow {
    margin: 0px 0px 0px 8px;
    transition: all 0.3s ease 0s;
    font-size: 8px;
    @media (max-width: $md3+px) {
      font-size: 14px;
    }
  }

  // menu__sub-list
  &__sub-list {
    position: relative;
    background-color: $orangeColor;
    padding: 15px;
    flex: 1 1 100%;

    @media (min-width: $md3+px) {
      // скрываю меню
      opacity: 0;
      transition: all 0.3s ease 0s;
      transform: translate(0px 10px);
      visibility: hidden;
      // скрываю меню
      min-width: 200px;
      left: 0;
      position: absolute;
      top: 100%;
      pointer-events: none;
      z-index: 5;
    }
    @media (max-width: $md3+px) {
      margin: 10px -15px 0px -15px;
    }
  }

  // menu__sub-item
  &__sub-item {
    // отступ вниз дя всех объектов, кроме последнего
    &:not(:last-child) {
      margin: 0px 0px 5px 0px;
    }
    @media (max-width: $md3+px) {
      margin: 0 0 10px 0;
    }
  }

  // menu__sub-link
  &__sub-link {
    color: #fff;
    line-height: 120%;
    @media (max-width: $md3+px) {
      font-size: 18px;
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.search-form {
  max-width: 473px;
  margin-right: 10px;
  // показываю search-form  когда он получает класс _active из js
  &._active {
    .search-form__item {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    .search-form__icon {
      color: $orangeColor;
    }
  }
  // .search-form__icon
  &__icon {
    // дополнительная кнопка поиска для мобильных устройств
    position: relative;
    z-index: 5;
    font-size: 22px;
    color: #262f56;
    @media (min-width: $md2+px) {
      display: none;
    }
  }
  // .search-form__item
  &__item {
    background-color: #fff;
    display: flex;
    align-items: center;
    // убираю поиск в иконку на ширине 992px
    @media (max-width: $md2+px) {
      box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
      position: absolute;
      width: 100%;
      left: 0;
      top: -100%;
      z-index: 5;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
    }
  }
  // search-form__btn
  &__btn {
    flex: 0 0 45px;
    height: 45px;
    font-size: 15px;
    color: #333333;
    // padding: ;
  }
  &__input {
    border: none;
    font-size: 14px;
    color: $darkGrayColor;
    padding: 10px 10px 10px 0px;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.actions-header {
  // border: 1px solid red;
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  // элементы выстраиваются в ряд независимо от количества
  grid-auto-flow: column;
  align-items: center;
  // actions-header__item
  &__item {
    // actions-header__item_favorites
    &_favorites {
      color: #262f56;
      font-size: 24px;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $orangeColor;
        }
      }
    }
    // actions-header__item_user
    &_user {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 10px;
    }
  }
}

.cart-header {
  // cart-header__icon
  &__icon {
    margin-left: 10px;
    margin-right: 20px;
    color: #262f56;
    font-size: 24px;
    transition: color 0.3s ease 0s;
    position: relative;
    display: block;
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
    span {
      position: absolute;
      width: 17px;
      height: 17px;
      display: flex;
      justify-content: center;
      top: -10px;
      right: -10px;
      border-radius: 50%;
      background-color: $orangeColor;
      color: #fff;
      font-size: 14px;
    }
  }
  // cart-header__body
  &__body {
  }
  // cart-header__list
  &__list {
  }
}

//Burger menu
.icon-menu {
  display: none;
  @media (max-width: $md3+px /*768px*/) {
    display: block;
    position: relative;
    flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    span {
      transition: all 0.3s ease 0s;
      top: calc(50% - 1px);
      left: 0px;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &_active {
      span {
        transform: scale(0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}

.none{
  display: none;
}