// // импортирование шрифтов в основной файл
// @include fonts("GilroyBold", "GilroyBold", "400", "normal");
// @include fonts("GilroySemibold", "GilroySemibold", "400", "normal");
// @include fonts("GilroyRegular", "GilroyRegular", "400", "normal");
// @include fonts("GilroyMedium", "GilroyMedium", "400", "normal");

// //  миксин для подключения файлов шрифтов
// @mixin fonts($font_name, $file_name, $weight, $style) {

//   @font-face {
//   font-family: $font_name;
//   font-display: swap;
//   src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
//   font-weight: #{$weight};
//   font-style: #{$style};
//   }
//   }
@font-face{
  font-family:"Gilroy";
  font-display: swap;
   src: url("../fonts/GilroyBold.woff") format("woff"), url("../fonts/GilroyBold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}
@font-face{
  font-family:"Gilroy";
  font-display: swap;
   src: url("../fonts/GilroyMedium.woff") format("woff"), url("../fonts/GilroyMedium.woff2") format("woff2");
   font-weight: 500;
   font-style: normal;
}

@font-face{
  font-family:"Gilroy";
  font-display: swap;
   src: url("../fonts/GilroyRegular.woff") format("woff"), url("../fonts/GilroyRegular.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}

@font-face{
  font-family:"Gilroy";
  font-display: swap;
   src: url("../fonts/GilroySemibold.woff") format("woff"), url("../fonts/GilroySemibold.woff2") format("woff2");
   font-weight: 600;
   font-style: normal;
}

@font-face{
  font-family:"icons";
  font-display: swap;
   src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
   font-weight: 400;
   font-style: normal;
}

@import "icons";
@import "header";
@import "variables";

// обнуление общие параметры
body{
  color: $mainColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  & a{
    text-decoration: none;
  }
  & ul {
    list-style-type: none;
  }
  & button {
    border: none;
    background-color: transparent;
  }
  &._lock {
    overflow: hidden;
  }
}

// оболочка
.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._load{

  }
}

// основная сетка
._container{
  max-width: $maxWidthContainer + px;
  padding: 0px 15px;
  margin: 0 auto;
  border: 1px solid red;
}